* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC";
  box-sizing: border-box;
}

:root {
  /* color */
  --fontDark: #2a2a2a;
  --borderLight: #f0f0f5;
  --undone: #AFB1BD;
  --done: #2a2a2a;
  --inputLabel:#808080;
  --btn:#ee749e;
  /* font weight */
  --fontWeightTitle: 700;
}

html, body {
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  /* background-color: #a7a7a7; */
}

.page-title {
  font-weight: var(--fontWeightTitle);
  font-size: 32px;
  color: var(--fontDark);
  margin-bottom: 48px;
}

.main-content {
  display: flex;
}

.panel {
  width: 540px;
}

.form {
  /* 300px */
  height: 300px;
  overflow: hidden;
}


.form .title {
  font-weight: var(--fontWeightTitle);
  font-size: 24px;
  color: var(--fontDark);
  margin-bottom: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  margin-bottom: 24px;
}

.input {
  height: 64px;
  width: 255px;
  position: relative;
}

.input input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #4A4A4A;
  height: 40px;
  padding: 12px 16px;
  border: 1px solid #000;
}

.input select {
  width: 100%;  
  border-radius: 4px;
  border: 1px solid #4A4A4A;
  height: 40px;
  padding: 12px 16px;
  -moz-appearance:none; 
  /* Firefox */
  -webkit-appearance:none; 
  /* Safari and Chrome */
  appearance:none;
}

.input input,
.input select {
  border: 1px solid #333;
}

.input select:hover {
  cursor: pointer;
}

.input .noValueSelect {
  color: var(--inputLabel);
}

.input option {
  color: var(--fontDark)
}


.input .dropdownBtn {
  position: absolute;
  bottom: 20px;
  right: 18px;
  transform: translate(0, 50%);
  width: 12px;
  height: 8px;
  background-image: url("../assets/dropdownBtn.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  pointer-events:none;
  /* make it not clickable */
}

.row .input label {
  height: 16px;
  font-size: 12px;
  display: block;
  width: 100%;
  font-weight: var(--fontWeightTitle);
  color: var(--inputLabel);
  margin-bottom: 8px;
}

.input select:focus,
.input input:focus {
  outline: none;
}

/* button row */
.btn-panel {
  height: 72px;
  width: 100%;
  margin-top: 48px;
  position: relative;
  width: 100%;
  border-top: 1px solid var(--borderLight);
}

.btn {
  position: absolute;
  width: 174px;
  height: 46px;
  border: none;
  border-radius: 8px;
}

.btn-last {
  bottom: 0;
  left: 0;
  background-color:white;
  color: #000;
}

.btn-next {
  bottom: 0;
  right: 0;
  background-color: var(--btn);
  color: #fff;
}

.btn-next span {
  margin-left: 13.5px;
}

.btn-last span {
  margin-right: 13.5px;
}

.btn:hover {
  cursor: pointer;
}